[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.unityproj
*.sln
*.slnx
*.tmp
*.user
*.pidb
*.booproj

__pycache__/
*.pyc

.venv/

.vsconfig
.kilocode/

0.0.0a0
/.playwright-mcp
/.playwright-mcp
